
<!-- <div>
  <h1 class='title-head'>
   Radio Show Portal 
  </h1>
</div> -->

<div style="max-width:50vw; max-height:40vh; margin:auto; ">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Song Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Song Name</th>
      <td mat-cell *matCellDef="let song"> {{song.name}}</td>
    </ng-container>

    <!-- Rank Column -->
    <ng-container matColumnDef="rank">
      <th mat-header-cell *matHeaderCellDef>Rank</th>
      <td mat-cell *matCellDef="let song">{{song.rank}}</td>
    </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <form style="margin:10vh; margin-left: auto">
  <mat-form-field style="min-width:50vw">
    <mat-label>Search or Add song</mat-label>
    <input matInput #userSongInput class='userSongInput' [(ngModel)]="userSong" name="userSongInput">
  </mat-form-field>
  </form>
</div>
<router-outlet></router-outlet>